* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index_color {
  background-color: #47555e;
}

h1 {
  text-align: center;
}

#form_title {
  margin-bottom: 2rem;
}

.social_media {
  width: 50px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  justify-content: center;
}

.container_theme {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1300px;
  height: 500px;
  text-align: center;
}

.cont_photo {
  object-fit: fill;
}

.theme_img {
  width: 80px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.theme_img_couple {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.cont_desc {
  width: 374px;
  height: 400px;
  margin: 3.5rem;
  background-color: white;
  z-index: 1;
}

.form-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px; 
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background-color: rgb(30, 27, 27);
  padding: 32px;
  box-shadow: 0px 6px 12px ;
}
button {
  margin-top: 50px;
  border: none;
  outline: none;
  height: 50px;
  width: 30%;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

.section-content {
  text-align: center;
}

.header_logo {
  width: 175px;
  margin-left: 50px;
  margin-right: 50px;
}

.services_header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.gallery .image {
  padding: 7px;
  width: calc(100% / 4);
}

.gallery .image img {
  width: 100%;
}

.gallery .image.hide {
  display: none;
}

.gallery .image.show {
  display: block;
}
nav {
  background: #13abf185;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 50%;
}

.item {
  margin-left: 10px;
}

ul {
  text-align: center;
  word-spacing: 10px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}